
.wrapNav{
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #41b6e6;;
    justify-content: space-between;
}
.navLeft{
    display: flex;
    padding-left: 30px;
    width: 345px;
    height: 70px;
    align-items: center;
}
.btn{
    width: 25px;
    height: 21px;
    cursor: pointer;
}
.logo{
    width: 170px;
    height: 19px;
    margin-left: 20px;
}
.navMid{
    width: 1010px;
    height: 70px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.midText{
    font-size: 20px;
    font-family: Noto Sans CJK KR Regular;
    text-align: center;
    color: #fff;
    margin-right: 3%;
    cursor: pointer;
    font-weight: 400;
}
.navRight{
    width: 290px;
    height: 70px;
    display: flex;
    align-items: center;
    float: right;
}
.RigTextBox{
    display: flex;
    width: 290px;
    align-items: center;
}
.rightText{
    color: #001951;
    text-align: left;
    font-size: 17px;
    margin-right: 3%;
}
.rigImg{
    width: 44px;
    height: 47px;
}
.navTab{
    background-color: #41b6e6;
    width: 100%;
    display: flex;
    justify-content: center;
}
.activetoggle{
    display: none;
}
.tabContent{
    width: 1200px;
    display: flex;
    justify-content: center;
    height: 326px;
    margin: 0 40px;
}
.wrapTabItem{
    margin-top: 48px;
    margin-right: 16px;
}
.tabTitle{
    color: #001951;
    font-size: 21px;
    min-width: 123px;
    margin-bottom: 26px;
    cursor: pointer;
    font-weight: 400;
}
.tabItem{
    color: #fff;
    font-weight: 400;
    margin-bottom: 14px;
}